{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>Home Page</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr/>
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                            {% if request.user.is_staff %}
                            {% if perms.app.delete_primeuser %}
                            <strong>Welcome {{request.user.username }} </strong> You ARE A ADMIN.
                            {% else %}
                            <strong>Welcome {{request.user.username }} </strong> You ARE A STAFF.
                            {% endif %}
                            {% elif perms.app.view_primeuser %}
                             <strong>Welcome {{request.user.username }} </strong> You ARE A Prime USER.
                             {% else %}
                             <strong>Welcome {{request.user.username }} </strong> You ARE A Normal USER.
                            {% endif %}
                            

                        </div>
                       
                    </div>
                    </div>
                  <!-- /. ROW  --> 
               
                 <!-- /. ROW  --> 
               
                  <!-- /. ROW  --> 
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>


{% endblock %}